{% extends "dashboard.html" %}
{% load static %}


{% block content %}

<div class="model-container">
    <div class="title">
        <h1>Agent: Company Unassign</h1>
    </div>
    <div class="model-cont">
        <div class="model-content">
            <form method="POST">
                {% csrf_token %}
                <div class="model-element-up">
                    <p>Agent: {{ agent }}</p>
                </div>
                <div class="model-element">
                    <div class="as-icone-container">
                        <p class="as-icone">Companies</p><p> {{ form.companies }}</p>
                    </div>
                </div>
                <div class="model-element-action">
                    {% if user.is_superuser %}
                    <a href="{% url 'agents:agent-list' %}"><i class="fa-solid fa-arrow-left"></i>Agents</a>
                    {% else %}
                    <a href="{% url 'teams:agents:agent-list' team.slug %}"><i class="fa-solid fa-arrow-left"></i>Agents</a>
                    {% endif %}
                    <button type="submit" class="btn-agent-up">Unassign</button>
                </div>
            </form>
        </div>
        <div class="model-action-cont">
            <ul>
                <li>
                    {% if user.is_superuser %}
                    <a href="{% url 'agents:agent-detail' agent.pk %}">
                    {% else %}
                    <a href="{% url 'teams:agents:agent-detail' team.slug agent.pk %}">
                    {% endif %}
                        <h3>Agent Details</h3>
                        <p class="det-icon"><i class="fa-solid fa-info"></i></p>
                    </a>
                </li>

                {% if user.is_superuser %}
                <li>
                    <a href="{% url 'agents:agent-update' agent.pk %}">
                        <h3>Update Agent</h3>
                        <p class="det-icon"><i class="fa-solid fa-pen-to-square"></i></p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'agents:agent-delete' agent.pk %}">
                        <h3>Delete Agent</h3>
                        <p class="det-icon"><i class="fa-solid fa-trash"></i></p>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}