{% extends "dashboard.html" %}
{% load static %}

{% block content %}

<div class="lead-list">
    <div class="title">
        <h1>Agents</h1>
    </div>
    <div class="list-container">
        <div class="list-icons">
            <a href="{% url 'agents:agent-create' %}">Create</a>
        </div>
        <div class="lead-content">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Date Added</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for agent in agents %}
                    <tr>
                        <td>{{ agent.pk }}</a></td>
                        <td>{{ agent.user.first_name }}</td>
                        <td>{{ agent.user.last_name }}</td>
                        <td>{{ agent.user.email }}</td>
                        <td>{{ agent.user.date_joined }}</td>
                        <td class="action">
                            <a class="action-detail" href="{% url 'agents:agent-detail' agent.pk %}">Details</a>
                            <a class="action-update" href="{% url 'agents:agent-update' agent.pk %}">Update</a>
                            <a class="action-delete" href="{% url 'agents:agent-delete' agent.pk %}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="page-pagination">
        {% if paged_agents.has_other_pages %}
        <ul class="pagination-items">
            {% if paged_agents.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ paged_agents.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><i class="fa-solid fa-angle-left"></i></a></li>
            {% endif %}
    
            {% for i in paged_agents.paginator.page_range %}
                {% if i == 1 or i == paged_agents.paginator.num_pages or i >= paged_agents.number|add:-2 and i <= paged_agents.number|add:2 %}
                    {% if paged_agents.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% elif i == paged_agents.number|add:-3 or i == paged_agents.number|add:3 %}
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                {% endif %}
            {% endfor %}
    
            {% if paged_agents.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ paged_agents.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><i class="fa-solid fa-angle-right"></i></a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock content %}