{% extends "dashboard.html" %}
{% load static %}

{% block content %}

<div class="lead-list">
    <div class="title">
        <h1>{{ company.name }} Leads</h1>
    </div>
    <div class="list-container">
        <div class="list-icons"></div>
        <div class="lead-content">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Status</th>
                        <th>Team</th>
                        <th>Agent</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lead in leads %}
                    <tr>
                        <td>{{ lead.pk }}</a></td>
                        <td>{{ lead.first_name }}</td>
                        <td>{{ lead.phone_number }}</td>
                        <td>{{ lead.status }}</td>
                        <td>{{ lead.team }}</td>
                        <td>{{ lead.agent }}</td>
                        <td>{{ lead.created_at }}</td>
                        <td>{{ lead.updated_at }}</td>
                        <td class="action">
                            <a class="action-detail" href="{% url 'leads:lead-detail' lead.pk %}">Details</a>
                            <a class="action-update" href="{% url 'leads:lead-update' lead.pk %}">Update</a>
                            <a class="action-delete" href="{% url 'leads:lead-delete' lead.pk %}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="page-pagination">
        {% if leads.has_other_pages %}
        <ul class="pagination-items">
            {% if leads.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ leads.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><i class="fa-solid fa-angle-left"></i></a></li>
            {% endif %}
    
            {% for i in leads.paginator.page_range %}
                {% if i == 1 or i == leads.paginator.num_pages or i >= leads.number|add:-2 and i <= leads.number|add:2 %}
                    {% if leads.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% elif i == leads.number|add:-3 or i == leads.number|add:3 %}
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                {% endif %}
            {% endfor %}
    
            {% if leads.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ leads.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><i class="fa-solid fa-angle-right"></i></a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock content %}