{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="home-page-h-finder">
    <div class="home-info-h-finder">
        <div class="home-title">
            <h1>House<span>Finder</span></h1>
        </div>
        <div class="houses">
            <div class="house-item">
                <div class="house-image himg1"></div>
                <h3>Bay House</h3>
                <h5>850.000,00$</h2>
                <p>Los Angeles, CA</p>
            </div>
            <div class="house-item">
                <div class="house-image himg2"></div>
                <h3>Binya House</h3>
                <h5>1.830.000,00$</h2>
                <p>Los Angeles, CA</p>
            </div>
            <div class="house-item">
                <div class="house-image himg3"></div>
                <h3>Curtis House</h3>
                <h5>720.000,00$</h2>
                <p>Jacksonville, FL</p>
            </div>
            <div class="house-item">
                <div class="house-image himg4"></div>
                <h3>Silent House</h3>
                <h5>990.000,00$</h2>
                <p>Indianapolis, IN</p>
            </div>
            <div class="house-item">
                <div class="house-image himg5"></div> 
                <h3>Hill House</h3>
                <h5>670.000,00$</h2>
                <p>Philadelphia, PA</p>
            </div>
            <div class="house-item">
                <div class="house-image himg6"></div> 
                <h3>Forest House</h3>
                <h5>550.000,00$</h2>
                <p>Columbus, OH</p>
            </div>
        </div>
    </div>
    <div class="client-form-h-finder">
        <h1>You have already submitted the form. Please contact us later.</h1>
    </div>
</div>
{% endblock content %}