{% extends "dashboard.html" %}
{% load static %}

{% block content %}

<div class="model-container">
    <div class="title">
        <h1>Bank Product details</h1>
    </div>
    <div class="model-cont">
        <div class="model-content-field">
            <div class="model-cont-nav">
                <div class="nav-cont"></div>
                <div class="model-task-content-nt">
                    <div class="model-element">
                        <p><i class="fa-solid fa-building-columns"></i> {{ product.bank }}</p>
                    </div>
                    <div class="model-element">
                        <div class="as-icone-container">
                            <p class="as-icone">Type</p><p> {{ product.product_type }}</p>
                        </div>
                        <div class="as-icone-container">
                            <p class="as-icone">Interest Rate</p><p> {{ product.interest_rate }} %</p>
                        </div>
                    </div>
                    <div class="model-element">
                        <div class="as-icone-container">
                            <p class="as-icone">Description</p><p> {{ product.description }}</p>
                        </div>
                    </div>
                    <div class="model-element">
                        <div class="as-icone-container">
                            <p class="as-icone">Terms</p><p> {{ product.terms }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="model-action-cont">
            <ul>
                {% if user.is_superuser %}
                <li>
                    <a href="{% url 'banks:bank-product-update' product.pk %}">
                        <h3>Update Product</h3>
                        <p class="det-icon"><i class="fa-solid fa-pen-to-square"></i></p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'banks:bank-product-delete' product.pk %}">
                        <h3>Delete Product</h3>
                        <p class="det-icon"><i class="fa-solid fa-trash"></i></p>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}